* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(200, 250, 220);
}

.title-container {
    margin-top: 1rem;
    text-align: center;
    height: 10vh;
}

.title {
    font-family: 'Bree Serif', serif;
    font-size: 2rem;
}

.title-description {
    margin-top: .525rem;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: bold;
}

.sword {
    color: rgb(57, 100, 240);
}

.axe {
    color: rgb(240, 57, 100);
}

.lance {
    color: rgb(57, 240, 100);
}

.wrapper {
    font-family: 'Nanum Myeongjo', serif;
    height: 86vh;
    padding: 0 1rem;
}

.inst {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.3rem;
}

.weapons {
    height: 25%;
    margin: auto;
    display: flex;
    flex-grow: 0;
    max-width: 50%;
}

.weapon {
    cursor: pointer;
    flex-basis: 33.3%;
    background-color: transparent;
    border: none;
    height: 100%;
}

.swords {
    background-image: url(images/sword.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 55%;
    max-width: 100%;
    transition: .2s ease;
}

.axes {
    background-image: url(images/axe.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 55%;
    max-width: 100%;
    transition: .2s ease;
}

.lances {
    background-image: url(images/spear.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 55%;
    max-width: 100%;
    transition: .2s ease;
}

.swords:hover {
    background-image: url(images/sword-hover.png);
    scale: 1.01;
    filter: drop-shadow(5px 11px 5px rgb(57, 100, 200));
}

.axes:hover {
    background-image: url(images/axe-hover.png);
    scale: 1.01;
    filter: drop-shadow(5px 11px 5px rgb(200, 57, 100));
    
}

.lances:hover {
    background-image: url(images/spear-hover.png);
    scale: 1.01;
    filter: drop-shadow(5px 11px 5px rgb(57, 200, 100));
}

.chosen-weapons-container {
    height: 15%;
    width: 70%;
    max-width: 40%;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.chosen-weapons-container p {
    font-size: 1.15rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.images{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5rem;
    height: 60%;
}

.battle-description {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    height: 20%;
    width: 90%;
    max-width: 60%;
}

.scores {
    display: flex;
    margin-top: auto;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    gap: 5rem;
}

.battle-end-description,
.end-game-description {
    font-size: 1.3rem;
    text-align: center;
}

.battle-end-description {
    margin: 1rem 0 2rem 0;
    height: 50%;
    width: 90%;
}

.bold {
    font-weight: bold;
}

.game {
    margin-top: 2rem;
    height: 14%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.enemy-win,
.player-win  {
    display: none;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
}

.new-game {
    cursor: pointer;
    font-size: 1.15rem;
    padding: .5em 1em;
    background-color: transparent;
    border: none;
    transition: .3s;
}

.new-game:hover {
    scale: 1.1;
    color: red;
}

.credits {
    text-align: center;
    filter: opacity(80%);
}

.credits a {
    text-decoration: none;
    color: brown;
}



