/* box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
}

.title {
    text-align: center;
    line-height: 1.5;
    margin: 1rem 1rem;
    border-bottom: 5px solid black;
    padding-bottom: 1rem;
}

.title h1 {
    text-transform: uppercase;
    font-size: 2rem;
}

.title p {
    font-size: 1.2rem;
}

.choices {
    text-align: center;
    line-height: 2;
    margin-top: 2rem;
}

.inst {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.choice {
    height: 50px;
    width: 150px;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-left: 2rem;
    background-color: transparent;
    transition: .3s;
    color: black;
    border: 3px solid black;
}


.rock:hover {
    color: #fff;
    background-color: black;
    border: 3px solid black;
    box-shadow: 7px 7px 0px 0px rgba(0,0,0,0.75);
}

.paper:hover {
    color: #fff;
    background-color: black;
    border: 3px solid black;
    box-shadow: 7px 7px 0px 0px rgba(0,0,0,0.75);
}

.scissors:hover {
    color: #fff;
    background-color: black;
    border: 3px solid black;
    box-shadow: 7px 7px 0px 0px rgba(0,0,0,0.75);
}

.wrapper {
    height: 100%;
}

.label {
    margin: 7rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}

.player-label,
.computer-label {
    border: 3px solid black;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
    height: 70px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scores {
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.player,
.computer {
    height: 70px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.player {
    border: 3px solid green;
    box-shadow: 10px 10px 0px 0px green;
}

.computer {
    border: 3px solid blue;
    box-shadow: 10px 10px 0px 0px blue;
}

.game {
    margin: 7rem 1rem;
    text-align: center;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    opacity: 0;
}

.new-game {
    font-size: 2rem;
    padding: .5em 1em;
    background-color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .3s ease;
}

.new-game:hover {
    color: #fff;
    background-color: black;
    box-shadow: 15px 15px 0px 0px rgba(0,0,0,0.75);
}

.game h2 {
    height: 150px;
    width: 100vh;
    border: 3px solid black;
    box-shadow: 15px 15px 0px 0px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 20vh;
    border: 3px solid blue;
}

@media screen and (max-width: 1299px) {
    .player-label,
    .computer-label {
        width: 30%;
    } 
}

@media screen and (max-width: 1100px) {
    .player-label,
    .computer-label {
        width: 40%;
    } 
}

@media screen and (max-width: 800px) {
    .player-label,
    .computer-label {
        width: 45%;
    }
    
    .game h2 {
        height: 150px;
        width: 50vh;
    }

    .game {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 700px) {
    .player-label,
    .computer-label {
        width: 90%;
    } 

    .label {
        flex-direction: column;
        gap: 20px;
        font-size: 1.5rem;
    }

    .game h2 {
        height: 120px;
        width: 50vh;
    }

    .choices {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .choice {
        width: 80%;
    }
}
